{% extends "base.html" %}
{% load static %}

{% block title %}
<h1 class="page-header">Become a Member now!</h1>
{% endblock %}

{% block content %}
{% for product in products %}
<div class="overlay">
        <div class="container product-detail-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="">
                        <img class="membership-detail-image" src="{{ product.image.url }}" alt="Membership image">
                    </div>
                </div>
            <div class="col-lg-8">
            <h4>{{ product.name }}</h4>
            <p>{{product.description}}</p>

                {% if request.user.is_authenticated %}
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div>
                <label for="Membership"></label>
                <select name="quantity" id="">
                        <option value="1" selected>1 Month</option>
                        <option value="6" >6 Months</option>
                        <option value="12">1 Year</option>
                    </select>
                <input type="submit" class="btn btn-primary" value="Join Now!">
                <input type="hidden" name="redirect_url" value="{% url 'checkout' %}">
                </div>
                </form>
                {% else %}
                <div>
                <p>Please <a href="{% url 'account_signup' %}">register</a> first before purchasing a membership!</p>
                </div>
                {% endif %}
           
               </div>
            </div>
        </div>
</div>
{% endfor %}


{% endblock %}