{% extends "base.html" %}

{% block title %}
<h1 class="page-header">Products</h1>
{% endblock %}

{% block content %}
<div class="row">
<div class="overlay">
        {% if bag_items %}
        <div class="container product-detail-container">
            <div class="row">
                <div class="col-lg-4">
                {% if product.image %}
                    <div class="product-image-div">
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="product-detail-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    </div>
                    {% else %}
                    <div class="product-image-div">
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="product-detail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    </div>
                {% endif %}
                </div>
            <div class="col-lg-8 col-sm-12">
            <h4>{{ product.name }}</h4>
            <p>{{ product.description }}</p>
            <p class="card-text">€{{ product.price }}</p>
                {% if product.category %}
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <p><i class="fas fa-leaf"> </i>{{ product.category.name }}</p>
                        </a>
                {% endif %}
                <p class="card-text"><i class="far fa-star"></i> {{ product.rating }}/5</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
            </div>
        </div>
        {% else %}
        <h2>Your bag is empty!</h2>
        <a href="{% url 'products' %}" class="btn btn-outline-info">Products</a>
        {% endif %}
</div>
</div>
{% endblock %}