{% extends "base.html" %}
{% load static %}

{% block imagetop %}
<img class="home-about-image" src="{% static 'images/yoga.jpg' %}" alt="Personal Trainer">
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-6 order-md-first order-md-last">
    <div class="col-lg-12 home-about-div">
        <h3 class="home-about-header">Our Locations</h3>
        <div id="map">
        <div class="overlay map-overlay"></div>
        </div>
    </div>
</div>
<div class="col-lg-6 order-lg-last order-md-first">
    <div class="col-lg-12 home-about-div">
        <h3 class="home-about-header">Our Centers</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat 
        massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
        justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
        tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. 
        Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, 
        blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
        Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
    </div>
</div>
</div>
{% endblock %}


{% block postloadjs %}
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: {
                lat: 57.6339624,
                lng: 15.5091925,
            },
            
    
        });

        var labels = "ABCDEFGHIJLKMNOPQRSTUVXYZ";

        var locations = [
            { lat: 55.6027957, lng: 13.0225468 },
            { lat: 55.5898005, lng: 13.0157898 },
            { lat: 57.7076499, lng: 11.9717142 },
            { lat: 57.7133344, lng: 11.9598712 },
            { lat: 59.3318637, lng: 18.0620463 },
            { lat: 59.3529274, lng: 18.0207269 },
            { lat: 59.3396616, lng: 18.0378994 },
            { lat: 57.7639227, lng: 14.1665094 },
            ];

        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        var markerCluster = new MarkerClusterer(map, markers, {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });

    }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz8Y_EGAP4AndHWmykJaz6VJWJYFgcFY0&callback=initMap"></script>
{% endblock %}