{% extends "base.html" %} {% load static %} {% block imagetop %}
<img class="home-about-image" src="{% static 'images/yoga.jpg' %}" alt="Personal Trainer" />
{% endblock %} {% block title %} {% endblock %} {% block content %}
<div class="row home-about-row">
    <div class="col-lg-6">
        <div class="col-lg-12 home-about-div home-text-div">
            <h3 class="home-about-header">Our Centers</h3>
            <p class="home-about-gym-description">
                Welcome to Momentum Health and Fitness. Our goal is to give you the most fantastic training and wellness experience on this side of the equator, if not the entire globe!
                Our award winning gyms are packed with state of the art equipment at every location and at each location we have a top selection of PT's that are always up to date with all of
                the most effective methods of training, and are always on-hand to help you with any questions you might have. We have on-site wellness centers with modern and traditional
                ways of relaxing or winding down after a hard session hitting the cardio or weights. Plus masseuses and physio-therapists to help with any of those unwanted aches and pains.
                 Our classes vary from location to location but also in intensify from pilates to bodypump, you'll always find a class that suits your personal preferences. Found in three of the
                 biggest cities in the country, we're difficult to miss. Come and start reaching for your goals with Momentum Health and Fitness today!


            </p>
        </div>
    </div>
    <div class="col-lg-6 order-lg-first map-outer-div">
        <div class="col-lg-12 home-about-div">
            <h3 class="home-about-header">Our Locations</h3>
            <div id="map">
                <div class="overlay map-overlay"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block postloadjs %}
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: {
                lat: 57.6339624,
                lng: 15.5091925,
            },
            
    
        });

        var labels = "ABCDEFGHIJLKMNOPQRSTUVXYZ";

        var locations = [
            { lat: 55.6027957, lng: 13.0225468 },
            { lat: 55.5898005, lng: 13.0157898 },
            { lat: 57.7076499, lng: 11.9717142 },
            { lat: 57.7133344, lng: 11.9598712 },
            { lat: 59.3318637, lng: 18.0620463 },
            { lat: 59.3529274, lng: 18.0207269 },
            { lat: 59.3396616, lng: 18.0378994 },
            { lat: 57.7639227, lng: 14.1665094 },
            ];

        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        var markerCluster = new MarkerClusterer(map, markers, {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });

    }

var mapKey = "{{ GOOGLE_MAPS_API_KEY }}";
</script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz8Y_EGAP4AndHWmykJaz6VJWJYFgcFY0&callback=initMap"></script>
{% endblock %}