@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Red+Rose:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela&family=Arima+Madurai:wght@300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

html, body {
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

body {
    background: url('/static/images/swimmer.jpg') rgb(21 77 82 / 80%);
    background-repeat: repeat-y;
    background-size:cover;
    background-blend-mode: multiply;
    z-index: 1;
}

a:hover {
    text-decoration: none;
}

.col-lg-4{
    padding: 0;
    border-radius: 10px; 
}

.shopping-bag-icon{
    text-align: center;
    position: absolute;
    right: 10%;
    top: 25px;
}

.navbar-light .navbar-toggler{
    position: absolute;
    right: 3%;
    top: 25px;
}

.navbar{
    justify-content: end;
}

nav.bg-light{
    background-color: white;
    opacity: 0.8;
}

#footer{
    height: 100px;
    width: 100%;
    background-color: #f8f9fa;
    opacity: 0.8;
    margin-top: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
}

.social-links{
    color: #00d4d4;
    font-size: 30px;
    margin: 25px 5px 0;
}

.social-links:hover{
    color: gray;
}

.copyright-text {
  color: rgba(104, 104, 104, 0.911);
  font-size: 70%;
  letter-spacing: 1px;
  padding: 0 15px;
  margin-top: 20px;
}

.Head-title{
    font-family: 'Red Rose', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    margin-left: 30px;
    font-size: 60px;
    color: #00d4d4;
}

.title-p{
    font-size: 20px;
    letter-spacing: 2px;
    color: #46a9ff;
}

.gold-member-banner{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gold-member-text{
    z-index: 1;
    color: gold;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    
}

.gold-member-link{
    color: rgb(255, 106, 6);
}

.gold-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
}

.entry-section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.entry-page-header{
    font-family: 'Red Rose';
    font-size: 70px;
    color: #8e8e8e;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 0;
    line-height: 70px;
}

.entry-page-p{
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 3px;
}

.entry-page-link{
    font-size: 20px;
    letter-spacing: 3px;
    color: gold;
    margin-bottom: 5px;
    font-weight: 400;
}

.entry-page-link:hover{
    color: #ff9a00;
    text-decoration: none;
}

.index-text-div{
    text-align: center;
    z-index: 1;
    animation: fadeIn ease 40s;
  -webkit-animation: fadeIn ease 40s;
  -moz-animation: fadeIn ease 40s;
  -o-animation: fadeIn ease 40s;
  -ms-animation: fadeIn ease 40s;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}

.colour-underlay{
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 1;

}

.colour-overlay-index{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
     animation: fadeIn ease 25s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
   }

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.home-about-header{
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Red Rose';
    font-weight: 300;
    letter-spacing: 2px;
    color: black;
}

.home-about-image{
    width: 100%;
    border-radius: 10px;
}

.shopping-bag-icon{
    text-align: center;
    position: absolute;
    top: 25px;
    right: 10%;
}

.base-container{
    text-align: center;
    padding: 20px 40px;
}

.home-about-div{
height: 100%;
background-color: rgb(153 193 199 / 80%);
padding: 30px;
border-radius: 10px;
}

div#map{
    min-height: 400px;
    border-radius: 10px;
    }

.page-header{
    color: #d4d4d4;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 5px;
    display: contents;
}
hr{
    margin: 5px;
}

.sort-select{
    float: right;
    height: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.products-count-a{
    color: #46a9ff;
}

.search-quantity-p{
    float: left;
    font-size: 20px;
    color: white;
    margin-left: 30px;
}

.overlay{
    margin-top: 60px;
}

.product-div{
    width: 100%;
    display: contents;
}

.products-row{
    padding: 0 30px;
}

.card-div{
    margin-bottom: 25px;
}

.card{
background-color: rgba(255, 255, 255, .8);
}

.overlay.product-detail-overlay{
    margin-top: 20px;
    margin-bottom: 15px;
}

.product-detail-container{
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 10px;
}

.product-image-div{
    background-color: rgb(251 251 251);
}

.product-detail-image{
    width: 300px;
    border-radius: 10px;
}

.product-detail-name{
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 25px;
}

.description-detail{
    line-height: 25px;
    letter-spacing: 1px;
    margin-top: 15px;
}

.p-detail{
    margin-top: 20px;
    letter-spacing: .5px;
}

.card-title{
    min-height: 50px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.card-text{
    letter-spacing: 1px;
}

.card-body{
    padding: 0.50rem;
}

.category-rating-div{
    display: inline-flex;
    margin-top: 15px;
    letter-spacing: 1px;
}

.detail-card-text{
margin-left: 15px;
}

.price-detail-text{
    margin: 5px;
    letter-spacing: 1px;
}

.flavour-quantity-div{
    margin: 10px 0;
}

.flavour-quantity{
    height: 25px;
    letter-spacing: 1px;
}

.product-image-detail-div{
    border-radius: 10px 0 0 10px;
    background-color: white;
}

.button-div{
    margin: 20px;
}

.buttons{
    background-color: #46a9ff;
    color: white;
    border: #383838;
    margin-right: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.category-p{
    margin: 5px 0 7px;
}

.card-title:hover,
.card-text:hover,
.category-p:hover{
    color: gray;
}

.category-symbol{
    color: green;
}

.rating-symbol{
    color: #e00000;
}

.product-checkout-details{
    min-width: 100%;
}


.product-cart-image{
    height: 150px;
}

.product-cart-container{
    width: 800px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 10px;
}

.product-cart-image-div{

    border-radius: 10px 0 0 10px;
    background-color: white;
}

.cart-overlay{
    margin: 0 auto 20px;
    
}

.cart-table-headers{
    margin-top: 10px;
    letter-spacing: 1px;
}

.cart-total-div{
    background-color: rgb(153 193 199 / 80%);
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

.cart-total-sum{
    margin-bottom: 10px;
}

.cart-button{
    margin-top: 10px;
}

.update-link,
.remove-link{
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 20%;
    right: 5%;
    z-index: 99;
}

.cart-notification-div{
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.5);
}

.cart-image{
    width: 100%;
}

.cart-information-row{
    text-align: center;
}

.empty-cart-h2{
    color: white;
    margin: 10% 0 30px;
    letter-spacing: 1px;
    font-weight: unset;
}

.empty-cart-cart{
    color: white;
}

.cart-details-p{
    margin-top: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
}

.cart-quantity-counter{
    margin-top: 10px;
}

.remove-update-cart-item{
    margin-top: 10px;
}

.update-button-cart{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #0085fa!important;
}

.update-button-cart:hover{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #0055a0!important;
}

.remove-button-cart{
 color: #0085fa;
 margin-right: 5px;
}

.outter-cart-container{
    width: 90%;
    margin-top: 15px;
}

.membership-detail-image{

    width: 100%;
    border-radius: 10px;
}

.blog-div {
  text-align: center;
  margin: 30px 20px;
  padding: 20px;
  background-color: rgb(153 193 199 / 80%);
  border-radius: 10px;
  min-width: 100%;
  min-height: 90%
}

.blog-image {
  width: 90%;
}

.blog-title {
  margin: 15px 30px 5px;
  letter-spacing: 2px;
  font-size: 20px;
  color: #383838;
  font-weight: 400;
}

.toast-success{
    background-color: #89ca79;
    letter-spacing: 1px;
}

.toast-warning{
background-color: #cc6d6d;
letter-spacing: 1px;
}

.toast-info{
 background-color: #6db6cc;
}

.toast-body-success{
    padding: 5px 25px 20px;
    letter-spacing: 0.5px;
    background-color: rgb(153 193 199 / 40%);
}

.toast-body{
    padding: 15px 25px 20px;
    letter-spacing: 0.5px;
    background-color: rgb(153 193 199 / 80%);
}

.toast-h{
    font-size: 15px;
}

.toast-message{
    padding-left: 0;
}

.delivery-info-toast{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.checkout-form-col{
    background-color: rgb(153 193 199 / 80%);   
    border-radius: 10px;
    padding-top: 10px;
}

#payment-form .form-control, #card-element {
    border-radius: 5px;
    border: 0!important;
}

.fieldset-label{
    right: 0;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.card-charge-text{
    margin: 10px!important;
}

.order-col-checkout{
    background-color: rgba(255 255 255 / 80%);
    border-radius: 10px;
    padding: 10px;
}

.order-summary-p{
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.order-summary-costs{
    margin-top: 10px;
}

.order-hr-checkout{
    margin-top: 15px!important;
}

.checkout-row{
    margin-top: 20px;
}

.profile-form-col{
    padding-bottom: 60px;
    margin-bottom: 30px;
}

.form-control:focus {
    border-radius: 5px;
    border: 0!important;
}

.article-div{
    text-align: center;
    padding: 20px;
    background-color: rgb(153 193 199 / 80%);
    border-radius: 10px;
    min-width: 100%;
    min-height: 90%;
}

.article-title {
    margin: 30px 30px;
    font-size: 25px;
    letter-spacing: 2px;
}

.membership-name{
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}


.membership-p{
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: .5px;
}

.strong-membership{
    margin: 10px 0 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.membership-select{
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}

.membership-container{
    width: 95%;
    margin-bottom: 20px;
}

.signout-p{
    color: #46a9ff;
    margin: 30px;
}

.login-div{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(153 193 199 / 80%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.login-signup-p{
    color: #46a9ff;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.login-signup-p-a{
    color: white;
}

.reset-p{
    margin-bottom: 20px;
}

.form-check-label{
    color:white;
}

a.login-or-create{
    color: #007bff!important;
}

@media (max-width: 1369px){

.video-container{
    display: none;

}

.colour-overlay-index{
    
     animation: none;

}

.index-text-div{
    animation: none;
  
}

.entry-page-header{
    margin: 10px;
}

.entry-page-p{
    margin: 10px;
}
}

@media (max-width: 993px){
.product-cart-container{
    width: 600px;
}

.cart-table-headers{
    font-size: 15px;
}

.cart-details-p{
    font-size: 15px;
}

.remove-update-cart-item{
    font-size: 10px;
}
}

@media (max-width: 768px){
.map-outer-div{
margin-top: 30px;
margin-bottom: 15px;
}

.shopping-bag-icon {
    right: 12%;
    top: 27px;
    font-size: 13px;
}

.title-p {
    font-size: 15px;
}

.home-about-header{
    margin-bottom: 15px;
}

.map-outer-div{
margin-top: 20px;
}

h5.card-title {
    font-size: 15px;
    min-height: 72px;
}

.card-top{
    margin-top: 0;
}

div.card{
    min-height: 400px;
}

.product-image-detail-div{
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.keep-shopping-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-div{
    width: 80%;
}

}

@media (max-width: 903px){

.keep-shopping-button{
    margin-bottom: 10px;
}
}

@media (max-width: 765px){
.product-cart-container{
    width: 300px;
}
}


@media (max-width: 452px){
.shopping-bag-icon {
    right: 21%;
    top: 22px;
    font-size: 10px;
}

.navbar-brand{
padding: 0;
}

.navbar-light .navbar-toggler {
    right: 3%;
    top: 15px;
}

.Head-title {
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 10px;
}

.title-p{
    margin-left: 15px;
}
.gold-member-text{
    font-size: 8px;
}
.navbar{
    padding: 5px
}

.gold-member-banner{
    display: none;
}

.base-container {
    padding: 10px 5px;
}
hr{
    margin: 0;
}

.home-about-div {
    padding: 10px;
}

.home-about-image{
    margin-top: 15px;
}

.map-outer-div{
    margin-top: 15px;
}

.home-about-image {
    margin-top: 5px;
}

.copyright-text {
    margin-top: 10px;
}

.home-about-header {
    font-size: 25px;
    margin-bottom: 5px;
}

.home-about-div{
    margin-top: 15px;
}

.social-links{
    margin-top: 15px;
}

.page-header{
    font-size: 25px;
}

.products-row {
    padding: 0 10px;

}

.search-quantity-p {
    float: left;
    font-size: 10px;
    color: white;
    margin-left: 10px;
}
#sort-selector{
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
}

hr{
    margin-top: 10px;
}
.overlay {
    margin-top: 30px;
}

.product-detail-overlay{
    margin: 0 10px;
}

.buttons{
    margin-bottom: 10px;
}

h1.entry-page-header{
    font-size: 45px;
    margin-bottom: 0;
    line-height: 30px;
}

.nav-links-div{
    padding-left: 10px;
}

.home-about-div{
    margin-top: 5px;
}

.message-container{
    display: none;
}

.product-cart-image-div {
    border-radius: 10px 10px 0 0;
}

.cart-overlay{
    margin-top: 0;
}

.outter-cart-container{
    margin-top: 0;
}

.product-cart-price{
    margin-bottom: 10px
}

.product-cart-container{
    width: 300px;
}

.cart-total-div{
    margin: 0;
    width: 100%
}

.keep-shopping-button{
    margin-top: 20px;
}

.checkout-row{
    margin-top: 5px;
}

.mb-5, .my-5 .order-for-checkout{
    margin-bottom: 20px!important;
}

.profile-form-col{
    width: 95%;
    margin: 0 auto;
}

.order-history-col{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.blog-div {
    text-align: center;
    margin: 0 10px 20px;
    min-width: 90%;
    min-height: 90%;
}

@media (max-width: 321px){

.shopping-bag-icon{
    right: 23%;
}
.head-title{
     margin-left: 0;
}

.navbar-light{
    padding-left: 0;
}

.product-cart-container{
    width: 250px;
}
}