@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Red+Rose:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela&family=Arima+Madurai:wght@300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

html {
    height: 100%;
}

p{
    margin: 0;
}

body {
    background: url('/media/swimmer.jpg') rgb(21 77 82 / 80%);
    background-repeat: repeat-y;
    background-size:cover;
    background-blend-mode: multiply;
    z-index: 1;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-toggler{
    position: absolute;
    right: 3%;
    top: 25px;
}

.navbar{
    justify-content: end;
}

nav.bg-light{
    background-color: white;
    opacity: 0.8;
}

.Head-title{
    font-family: 'Red Rose', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    margin-left: 30px;
    font-size: 60px;
    color: #00d4d4;
}

.title-p{
    font-size: 20px;
    letter-spacing: 2px;
    color: #46a9ff;
}

.gold-member-banner{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gold-member-text{
    z-index: 1;
    color: gold;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.gold-member-link{
    color: rgb(255, 106, 6);
}

.gold-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
}

.entry-section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.entry-page-header{
    font-family: 'Red Rose';
    font-size: 60px;
    color: #8e8e8e;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 0;
}

.entry-page-p{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.entry-page-link{
    font-size: 20px;
    letter-spacing: 2px;
    color: gold;
    margin-bottom: 5px;
}

.entry-page-link:hover{
    color: #ff9a00;
}

.index-text-div{
    text-align: center;
    z-index: 1;
    animation: fadeIn ease 40s;
  -webkit-animation: fadeIn ease 40s;
  -moz-animation: fadeIn ease 40s;
  -o-animation: fadeIn ease 40s;
  -ms-animation: fadeIn ease 40s;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.colour-overlay-index{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
     animation: fadeIn ease 25s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
   }

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.home-about-header{
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Red Rose';
    font-weight: 300;
    letter-spacing: 2px;
    color: black;
}

.home-about-image{
    width: 100%;
}

.shopping-bag-icon{
    float: right;
    text-align: center;
}

.base-container{
    text-align: center;
    padding: 20px 40px;
}

.home-about-div{
height: 100%;
background-color: rgb(153 193 199 / 80%);
padding: 30px;
border-radius: 10px;
}

div#map{
    min-height: 90%;
    border-radius: 10px;
    }

.page-header{
    color: #d4d4d4;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 5px;
    display: contents;
}

.sort-select{
    float: right;
}

.search-quantity-p{
    float: left;
}

.overlay{
    margin-top: 60px;
}

.product-div{
    width: 100%;
    display: contents;
}

.products-row{
    padding: 0 30px;
}

.card-div{
    margin-bottom: 25px;
}

.card{
background-color: rgba(255, 255, 255, .8);
}

.product-detail-container{
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
}

.product-image-div{
    background-color: rgb(251 251 251);
}

.product-detail-image{
    width: 300px;
    border-radius: 10px;
}

.card-title{
    min-height: 50px;
}

.product-checkout-details{
    min-width: 100%;
}


.product-cart-image{
    height: 150px;
}

.product-cart-container{
    width: 1000px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
}

.cart-overlay{
    margin: 0 auto 20px;
    
}

.cart-total-div{
    background-color: rgb(153 193 199 / 80%);
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}