.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
    }

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.checkout-form-col{
    background-color: rgb(153 193 199 / 80%);   
    border-radius: 10px;
    padding: 10px;
}

#payment-form .form-control, #card-element {
    border-radius: 5px;
    border: 0!important;
}

.fieldset-label{
    right: 0;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.card-charge-text{
    margin: 10px!important;
}

.order-col-checkout{
    background-color: rgba(255 255 255 / 80%);
    border-radius: 10px;
    padding: 10px;
}

.order-summary-p{
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.order-summary-costs{
    margin-top: 10px;
}

.order-hr-checkout{
    margin-top: 15px!important;
}

.checkout-row{
    margin-top: 20px;
}

.success-email{
    color: #f3cd03;
    letter-spacing: 1px;
}

.information-success{
    color: #1aabff;
    margin-bottom: 20px;
}

.order-confirmation-wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(153 193 199 / 80%);
    border-radius: 10px;
    padding: 20px 20px 20px 0!important;   

}

.success-button{
    margin-top: 20px;
    color: white;
}

.text-right{
    padding: 0;
}

@media (max-width: 415px){
    .checkout-row{
    margin-top: 5px;
    }

    .mb-5, .my-5 .order-for-checkout{
    margin-bottom: 20px!important;
    }

    .order-confirmation-wrapper {
    width: 95%;
}
}
@media (max-width: 282px){
.success-button{
    margin-bottom: 30px;
}
}